div.reply-required, span.reply-required, div.login-required, span.login-required {
  display: none;
}

.action-required-notice {
  cursor: pointer;
  padding: 10px;
  color: #fff;
  background: #0088cc;
}
